.alert-container {
    position: sticky;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    z-index: 10; /* Aumentamos significativamente el z-index para que esté por encima de todo */
}
