<div class="min-h-screen bg-gray-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 space-y-16 py-6">
    <!-- Sección de artistas -->
    <section>
      <h2 class="text-4xl font-bold mb-4 text-gray-800 text-center sm:text-left">Artistas destacados</h2>
      <div class="bg-white rounded-xl p-6 space-y-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          <ng-container *ngFor="let artist of artists">
            <app-card 
              [data]="artist"
              [loading]="isLoadingArtists"
              [routerLink]="['/artista', artist.mbid || artist.name]">
            </app-card>
          </ng-container>
        </div>
        <button routerLink="/artistas" class="w-full py-3 bg-purple-500 text-white rounded-lg font-semibold hover:bg-purple-600 transition">
          Ver más...
        </button>
      </div>
    </section>

    <!-- Sección de Éxitos del Momento -->
    <section>
      <h2 class="text-4xl font-bold mb-4 text-gray-800 text-center sm:text-left">Éxitos del momento</h2>
      <div class="bg-white rounded-xl p-6 space-y-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          <ng-container *ngFor="let item of tracks">
            <app-card 
              [data]="item"
              [loading]="isLoadingTracks">
            </app-card>
          </ng-container>
        </div>
        <button routerLink="/canciones" class="w-full py-3 bg-purple-500 text-white rounded-lg font-semibold hover:bg-purple-600 transition">
          Ver más...
        </button>  
      </div>
    </section>

    <!-- Sección de Conciertos -->
    <section>
      <h2 class="text-4xl font-bold mb-4 text-gray-800 text-center sm:text-left">Conciertos próximos</h2>
      <div class="bg-white rounded-xl p-6 space-y-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          <ng-container *ngFor="let item of concerts">
            <app-card 
              [data]="item"
              [loading]="isLoadingConcerts"
              [routerLink]="['/evento', item.id]">
            </app-card>
          </ng-container>
        </div>
        <button routerLink="/eventos" class="w-full py-3 bg-purple-500 text-white rounded-lg font-semibold hover:bg-purple-600 transition">
          Ver más...
        </button>
      </div>  
    </section>
  </div>
</div>