@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ol/ol.css';

/* Estilos personalizados para el mapa */
.ol-zoom {
  border-radius: 4px;
  overflow: hidden;
}

.ol-zoom button {
  width: 30px;
  height: 30px;
  background-color: rgb(147 51 234);
  color: white;
  border: none;
  margin: 1px;
  font-size: 1.14em;
  cursor: pointer;
  transition: background-color 0.2s;
}

.ol-zoom button:hover {
  background-color: rgb(126 34 206);
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Estilos para manejar errores de imagen */
.image-error {
  opacity: 0 !important;
  transition: opacity 0.3s ease;
}

/* Estilos para el contenedor de avatar que muestra el fallback SVG */
.avatar-container {
  position: relative;
}

.avatar-container .fallback-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.avatar-container img {
  position: relative;
  z-index: 2;
}

.avatar-container img.image-error + .fallback-svg {
  z-index: 3;
}
